body {
  /* padding: 7% 15%; */
text-align: center;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
color: #ff7b7b;
padding: 5%;
}
h2
{
  font-family: 'Philosopher', sans-serif;

}
.titletxt {
  margin: auto;
}

p {
  font-size: 1.3rem;
  padding: 1% 15%;
  color: #f5e1e1;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
line-height: 1.7;

}

.brandf {
  font-family: 'Berkshire Swash', cursive;
  color: #ff7b7b;
  font-size: 2rem;

}
.brandf:hover {
  color: #ffe2e2;
}
.nav-item {
  color: #ff7b7b;
}
.nav-item:hover {
  color: #ffe2e2;
}
.barcolor {
  color: #ff7b7b;
  height: auto;
  width: auto;
}
.barcolor:hover {
  color: #ffe2e2;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7b7b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7b7b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


#title .container-fluid  {
  padding: 3% 15% 5% 15%;
}
#title {
  background-color: #f6f6f6;
  color: #000;

}

.titlepic {
  height: auto;
  width: 70%
  /* padding: 10% 2%; */
}

/* about */
#about {
  background-color: #ff7b7b;
color: #f6f6f6;
}

/* <!-- fiters --> */

#fairygoods {
  background-color: #f6f6f6;
}
.container-fluid {
  padding: 7% 15%;
}
.emoji {
  color: #ffc7c7;
  padding: 5%
}
.emoji:hover {
  color: #ff7b7b;
}

.goodf {
  color: # ;
font-family: 'Noto Serif', serif;
}

.gftext {
  color: #615a5a;
  font-weight: bold;
}

#bottom {
  background-color: #8785a2 ;
}
#bottom .container-fluid {
  padding: 1% 15%;
}

.tele {
  color: #ffe2e2 ;
  padding: 1%;
}
.tele:hover {
  color: #0088cc ;
}

.line {
  color: #ffe2e2 ;
  padding: 1%;

}
.line:hover {
  color: #00B900 ;

}

@media (max-width: 990px) {
  .container-fluid {
    padding: 15% 15%;
  }
  h1 {
    padding: {
      15% 15%;
    }
  }
}
